// colors
$color-light-red: #8c0b23;
$color-dark-red: #59041b;
$color-gold: #bb7133;
$color-skin: #d9c7b8;
$color-light-grey: #f2f2f2;
$color-dark: #0d0d0d;
$color-visited-link: #e38b44;

//breakpoints
$breakpoint-s: 480px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-desktop-s: 1224px;
$breakpoint-desktop-m: 1440px;
$breakpoint-desktop-l: 1600px;
