@use './reset';
@use './variables' as var;

@import '../components/App/Routes/HomePage/homePage.scss';
@import '../components//App/Header/header.scss';
@import '../components/App/Routes/RegistrationPage/RegistrationPage.scss';
@import '../components/App/Routes/RecipePage/RecipePage.scss';

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var.$color-skin;
    font-family: 'Merriweather Sans', sans-serif;
    max-width: 1800px;
    margin: auto;
    text-align: left;
    background-color: var.$color-dark;
}

a,
.link {
    font-weight: 500;
    color: var.$color-skin;
    text-decoration: underline;
    &:hover {
        color: var.$color-gold;
    }
    &:visited {
        color: var.$color-visited-link;
        &:hover {
            color: var.$color-gold;
        }
    }
}

.button-link {
    font-family: 'Cinzel', serif;
    background-color: var.$color-skin;
    color: var.$color-dark;
    padding: 0.2em;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: var.$color-dark-red;
        color: var.$color-skin;
        transition-duration: 200ms;
        font-weight: 600;
    }

    &:visited {
        color: var.$color-dark;
        &:hover {
            color: var.$color-skin;
        }
    }
}

button {
    font-family: 'Cinzel', serif;
    background-color: var.$color-skin;
    color: var.$color-dark;
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    &:hover {
        background-color: var.$color-dark-red;
        color: var.$color-skin;
        transition-duration: 200ms;
        font-weight: 600;
    }
}

body {
    background-color: var.$color-dark-red;
    min-width: 320px;
    min-height: 100vh;
    text-align: left;

    @media (min-width: var.$breakpoint-desktop-s) {
        padding: 2em 0;
        margin: 0 5em;
    }
}
.button-link {
    font-family: 'Cinzel', serif;
    background-color: var.$color-skin;
    color: var.$color-dark;
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    text-decoration: none;

    &:hover {
        background-color: var.$color-dark-red;
        color: var.$color-skin;
        transition-duration: 200ms;
        font-weight: 600;
    }
    &:visited {
        color: var.$color-dark;
        &:hover {
            color: var.$color-skin;
        }
    }
}

h1 {
    font-size: 1.5rem;
    line-height: 1.1;
    font-family: 'Cinzel', serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;

    // @media (min-width: var.$breakpoint-l) {
    //     font-size: 1.5rem;
    // }
}

h2 {
    font-size: 1.3rem;
    line-height: 1.1;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.1;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.2rem;
    line-height: 1.1;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 1rem;
}
