@use './reset';
@use './variables' as var;
@import '../components/App/Routes/HomePage/homePage.scss';
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
// $color-light-red: #8C0B23;
// $color-dark-red: #59041B;
// $color-gold:#BB7133;
// $color-skin: #D9C7B8;
// $color-light-grey: #F2F2F2;
// $color-dark: #0D0D0D;
:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var.$color-skin;
    font-family: 'Merriweather Sans', sans-serif;
    max-width: 1280px;
    margin: 0;
    text-align: left;
}

a {
    font-weight: 500;
    color: var.$color-skin;
    text-decoration: inherit;
}

a:hover {
    color: var.$color-gold;
}

a:visited {
    color: var.$color-light-grey;
}

body {
    background-color: var.$color-dark-red;
    min-width: 320px;
    min-height: 100vh;
    text-align: left;
    margin: 0;
    padding: 1em;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.1;
    font-family: 'Cinzel', serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.3rem;
    line-height: 1.1;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.1;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.2rem;
    line-height: 1.1;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    font-family: 'Cinzel', serif;
    background-color: var.$color-skin;
    color: var.$color-dark;
    padding: 0.5em 1em;
    border: none;
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button:hover {
    background-color: var.$color-dark-red;
    color: var.$color-skin;
    transition-duration: 200ms;
    font-weight: 600;
}
