// Importation des variables SCSS
@use '../../../styles/variables' as var;

// Importation des styles de Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    // Base style for the header
    @apply flex justify-between items-center p-4 bg-dark-red text-skin border-b-2 relative;

    .logo-container {
        // text size and font weight
        @apply text-2xl font-bold;
    }

    .logo-link {
        @apply no-underline text-3xl font-semibold text-skin;
        font-family: 'Cinzel', serif;
        // font-size: 1em;
        @media (min-width: var.$breakpoint-s) {
            // font-size: 2em;
        }

        &:visited {
            color: var.$color-skin;
        }
    }

    .highlight {
        @apply text-5xl;
    }

    .link-container {
        // alignment and spacing
        @apply flex items-center space-x-2 relative;
    }

    .icon {
        // text size
        @apply text-xl cursor-pointer;
    }

    .burger-menu .line {
        // dimensions and color
        width: 25px;
        height: 3px;
        background-color: var(#d9c7b8);
        margin: 4px 0;
    }
    // Search bar styles
    .search-bar {
        @apply absolute top-9 right-28 bg-skin text-black w-64 transition-transform duration-300 ease-in-out;
        right: 7.5rem;

        @media (min-width: 500px) {
            @apply md:relative md:w-auto md:bg-transparent md:text-skin;
            top: 0;
            right: 0;
        }
    }
    .mobile-menu {
        @apply absolute right-0 top-20 bg-dark-red w-full h-screen transition-transform duration-300 ease-in-out;

        @media (min-width: 768px) {
            @apply w-1/2; // Apply w-1/2 only on desktop
        }

        .block {
            @apply py-2 border-b bg-dark-red;

            &:last-child {
                @apply border-b-0;
            }
        }
    }

    // Icon styles based on screen width
    @media (min-width: 500px) {
        .icon .faPlus {
            @apply hidden;
        }

        .icon span {
            @apply inline-block; //  Show text on larger screens
        }
    }

    @media (max-width: 500px) {
        .icon .faPlus {
            @apply inline-block; // Afficher l'icône faPlus sur les petits écrans
        }

        .icon span {
            @apply hidden;
        }
    }
}
