@use '../../../../styles/variables' as var;
@use '../../../../styles/mixins';

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-title {
    width: 80%;
    margin-top: 2em;
}

.homepage-subtitle {
    width: 80%;
    text-align: center;
}

.icon-padding {
    padding-right: 8px;
}

li {
    line-height: 1.3em;
}

// .see-catalog-link {
//     font-family: 'Cinzel', serif;
//     font-size: 1.5rem;
// }

.img_presentation {
    width: 80%;
    margin-right: 10%;
    object-fit: cover;
    width: 150%;
    border-radius: 10%;
    @media (min-width: var.$breakpoint-m) {
        max-width: 700px;
    }
}

.recipe-movie {
    display: flex;
    width: 90%;
}

.recipe-movie img {
    width: 100%;
}
.homepage-image {
    border-radius: 10%;
}

.presentation {
    text-align: center;
    margin: auto;
    /* padding: 10%; */
    padding-right: 10%;
    padding-left: 10%;
    font-size: 1.3rem;
    line-height: 1.6;
}

.container {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

.img-left,
.img-right {
    width: 50%;
    position: relative;
}

.random-img {
    width: 100%;
}

.random-img-left {
    border-top-left-radius: 15px;
}

.random-img-right {
    border-top-right-radius: 15px;
}

.inspiration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 0 1em;
}

.img-container {
    display: flex;
    width: 70%;
    margin-bottom: 1em;
}

.right-div {
    width: 80%;
    text-align: center;
    margin-bottom: 0.5em;
}

.inspiration-subtitle {
    background-color: rgba(0, 0, 0, 0.386);
    color: white;
    position: absolute;

    bottom: 0%;
    text-align: center;
    width: 100%;
    padding: 3px;
    font-size: 1.8rem;
}

h2,
h3,
h4 {
    text-align: center;
}

h4 {
    font-size: 0.9rem;
}

.presentation-list {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1.4em 0;
}

.presentation-list-item {
    margin: 0.5em;
    margin-top: 40px;
    & button,
    a {
        margin: 0.5em;
        padding: 10px 15px;
        font-weight: 500;
    }
}
.suggestion {
    font-family: 'Cinzel', serif;
    font-size: 1.8rem;
}

@media (max-width: 768px) {
    .img_presentation {
        display: none;
    }
    .presentation {
        font-size: 0.8rem;
    }
    .homepage-title {
        font-size: 0.8rem;
    }
    .homepage-subtitle {
        font-size: 0.8rem;
    }

    .slider {
        width: 130%;
    }

    .presentation-list-item {
        font-size: 0.7rem;
        margin: 0.5em;
        margin-top: 10px;
    }
}

@media (max-width: 900px) {
    .img_presentation {
        display: none;
    }
}
