img {
    width: 100%;
}

.img-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_slider {
    width: 90%;
    display: flex;
    justify-content: center;
}

.icon-arrow {
    background: black;
    padding: 6px;
    border-radius: 100%;
    margin-bottom: -4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon-arrow.left {
    left: 5%;
}

.icon-arrow.right {
    right: 5%;
}

.inspiration-subtitle {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.386);
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.italic {
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
}

.img-left,
.img-right {
    position: relative;
    width: 50%;
}
