img {
    width: 100%;
}

.main_slider {
    width: 90vw;
    // overflow: hidden;
    position: relative;
}

// .slider-container {
//     display: flex;
//     width: 100%;
// }

// .slide {
//     min-width: 100%;
//     display: flex;
//     justify-content: space-between;
// }

.icon-arrow {
    background: black;
    padding: 15px;
    border-radius: 100%;
    margin-bottom: -4px;
    position: absolute;
    top: 50%;
}

.icon-arrow:hover {
    background-color: grey;
    transition: 1s;
}

.icon-arrow.left {
    left: 5%;
}

.icon-arrow.right {
    right: 5%;
}

.italic {
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
}

.img-left,
.img-right {
    position: relative;
    transition: transform 0.5s ease-in-out;
}
